/*--------------------- CSS 3 ------------------------*/
/*
Color: Plum: #4e226d;
	   Teal: #568d81;
	   white: #fdfaff;
	   light purple: #d3c8da;
	   h1 on purple bg: #f5e9ff;

Text:  25px: font-size: 1.563em;
	   24px: font-size: 1.500em; 
	   18px: font-size: 1.125em;
	   
	   
box-shadow: 10px -3px 5px #d8d7cd; 
*/

/* --------------------------------------------- */
/* -- STRUCTURE -- */
/* --------------------------------------------- */
body {
	margin: 0;
	color: #4e226d;
	font: 18px/24px "SF Arborcrest Light", Helvetica, arial;
	/*font-weight: bold;*/
	background-image: url('../images/bg.jpg');
	background-repeat: repeat-x;
}

nav, 
section, 
footer ul { width: 960px; margin: 0 auto; }

nav:after, 
section:after, 
footer:after { 
	/*clearing all floating elements*/
	content: ""; display: block; clear: both;	
}

/*
#registration a:visited,
#profiles a:visited, 
#calendar a:visited,
#lastResort a:visited { color: #a7dace; }
*/


/* -- Header & Nav -- */
header{ /*--purple Nav gradient--*/
	margin-top: 50px;
	margin-bottom: 0px;	
	background: -webkit-linear-gradient(180deg, #e2d7e9 0%, #a590b4 50%, #866f97 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #e2d7e9 0%, #a590b4 50%, #866f97 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #e2d7e9 0%, #a590b4 50%, #866f97 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #e2d7e9 0%, #a590b4 50%, #866f97 100%); /* Standard syntax */	
	border: 1px #b3a0c0 solid;
}

nav ul { 
	position: relative; 
	float: left; 
	padding-left: 200px;
	margin: 0px;
	height: 84px; 
}
nav li {
	float: left;
	list-style-type: none;
	height: 84px; 
}
nav li a {
	display: block;
	padding-right: 50px;
	padding-left:50px;
	padding-top: 30px;
	color: #4e226d;
	text-decoration: none;
	font-size: 1.563em; /*25px*/
	text-transform:uppercase;
}
nav li:first-of-type { /*--Logo--*/
	position: absolute; top: -35px; left: 0px;
	width: 150px; height: 150px; 
	background: url('../images/logoSmall.png') no-repeat center center;
}
nav li:first-of-type a { /*--Logo--*/
	width: 100px; 
	height: 150px; 
	padding: 0px; 
	text-indent: -9999px;
}
nav li:not(:first-of-type) a:hover { /*Why wont the gradient show?*/
	background: #568d81;
	
	background: -webkit-linear-gradient(180deg, #c7e2dc 0%, #8bb3aa 50%, #568d81 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #c7e2dc 0%, #8bb3aa 50%, #568d81 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #c7e2dc 0%, #8bb3aa 50%, #568d81 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #c7e2dc 0%, #8bb3aa 50%, #568d81 100%); /* Standard syntax */	
	
	/*border: 1px #8bb3aa solid;*/
	height: 84px; 		
}
nav form { 
	float: right; 
	padding: 0px; 
}
nav form label { 
	display: none; 
}
nav form p { 
	margin: 5px 0; 
	padding: 0px; 
}
nav form input {
	padding: 5px;
	background: -webkit-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* Standard syntax */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bfafca;	
}
nav form input:focus, textarea:focus {
    outline: none; /*gets rid of the blue glow*/
	background: -webkit-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* Standard syntax */
}



/* --------------------------------------------- */
/* -- TYPOGRAPHY -- */
/* --------------------------------------------- */

h1 {
 	padding: 20px;
	font-size: 1.3em; color: #f5e9ff;
	background: #61397e;
	
	background: -webkit-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Safari */
	background: -o-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*Standard syntax */		
}

h2 {}
h3 {}
h4 {}
h5 {}

p { padding-bottom: 20px; }



/* --------------------------------------------- */
/* -- CONTENT -- */
/* --------------------------------------------- */

/* -- CTA -- */
#cta {
	padding:0px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#cta p { padding: 0px; }


/* -- WHY JOIN -- */
#registration div h1 {
	position: relative; left: -20px; top: -20px;
 	width: 110%; /* fallback if needed */
  	width: calc(100% + 40px);
 	padding: 20px;
	font-size: 2em; color: #f5e9ff; 
	background: #61397e;
	
	background: -webkit-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Safari */
	background: -o-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #aa96b9 0%, #61397e 50%, #4e226d 100%); /*Standard syntax */		
}

#registration div {
	padding: 20px;
	width: 39%;	
	background: #fdfaff;
}

#registration div p:last-of-type { /* last p */
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 65px;
	font-size: 1.2em;
}



/* -- REGISTRATION FORM -- */
#registration div, #registration form { 
	float: left; 
	margin-bottom: 50px; /*pushed the footer down lower*/
}

#registration form {
	background: #d3c8da;
	box-shadow: 10px -3px 5px #d8d7cd;
	padding: 20px;
	width: 61%; 
}
				
#registration legend {
	border-bottom: solid 1px #a690b6;
	width: 100%; /*width for line*/
	font-size: 1.5em;
}

#registration form p {
	font-size: 1.125em; /*18px*/
	text-transform:uppercase;
	padding-top: 30px;	/*padding between text fields*/
	clear: both;
}
#registration form p label {
	color: #7a5992;
	padding-right: 15px;
	padding-top: 10px;
	float: left;
}
#registration form input {
	padding: 13px; /*height of text field*/
	margin: 0px;
	background: -webkit-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 50%, #cccccc 100%); /* Standard syntax */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bfafca;	
	
	float: right;
}
#registration form input:focus, textarea:focus {
    outline: none; /*gets rid of the blue glow*/
	background: -webkit-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 0%, #f8f3fb 100%); /* Standard syntax */
}

/* ---- GROUP HOME PAGE ---- */
/* -- PROFILES -- */

#profiles, #calendar {
	margin-top: 50px;
	float: left; 
	margin-bottom: 50px; /*pushed the footer down lower*/
	box-shadow: 10px -3px 5px #d8d7cd;
	background: #fdfaff;
}

#profiles {
	margin-right: 40px;
	width: 50%;
	/*line-height:150%; /* spacing between letter lines*/
	
}
#profiles ul {
	padding: 20px;
	text-transform:uppercase;	
}

#profiles ul li img {
	padding: 12px 20px 0px 0px;
	float: left;
}
#profiles ul li {
	font-size: 1.500em; /*24pt*/
	padding-bottom: 20px;
	height: 100px;
	clear: both; /*add to clear section up at top of css*/
}

#profiles ul li a {
	padding-top: 38px;
	color: #568d81;
	float: left;
	text-decoration: none;
}

#profiles ul li:nth-child(2n) {
	background: #f8f3fb;
}


#profiles ul li:last-of-type {
	padding-bottom: 0px;
}

/* -- CALENDAR -- */

#calendar{
	width: 45%;	
}

/*
#calendar h1{
	padding-right: 100px; adding to the already existing padding of the h1 on line 140 
	float: left;
}

#calendar p{
	float: right;	
}
*/

#calendar ul {
	padding: 20px;
}
#calendar ul li img {
	padding-right: 20px;
	float: left;
}

#calendar ul li {	
	color: #9e80b5;
	font-size: .9em;
	padding: 10px 0px 20px 0px;
	text-transform:uppercase;
	clear: both;
}
#calendar ul li:nth-child(2n) {
	background: #f8f3fb;
}
#calendar ul li a {
	color: #568d81;
	font-size: 1.3em;
	text-transform:uppercase;
}
#calendar ul li:last-of-type {
	padding-bottom: 0px;
}
#calendar span {
	color: #4e226d;
	font-size: 1.5em;
	text-transform:uppercase;
	display: inline-block;
}


/* -- LAST RESORT -- */

#lastResort {
	float: left;
}

#lastResort h1 {
	color: #4e226d;
	font-size: 1.5em;
	padding: 20px 290px 20px 20px;
	background: #fdfaff;	
	border-bottom: solid 2px #4e226d;
	box-shadow: 10px -3px 5px #d8d7cd;	
}

#lastResort ul li img {
	padding: 20px 20px 0px 20px;
	float: left;
}
#lastResort ul li {
	clear: both;
}

#lastResort span {
	display: inline-block;
	text-transform:uppercase;
	padding-top: 35px;
}
#lastResort ul li a { 
	color: #568d81;
	font-size: .8em;
	text-transform:uppercase;
	letter-spacing:1px;	
}

#lastResort ul li:last-of-type {
	padding-bottom: 25px;
	border-bottom: solid 2px #4e226d;
}

/* --------------------------------------------- */
/* -- FORMS -- */
/* --------------------------------------------- */

[type=submit] { /* Login btn */
	color: #7a5992;
	font-size: .8em;
	background: -webkit-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* Standard syntax */
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 5px;	/* "border-radius" always comes last when listing borders for all browser views */
	
	border: 1px solid #9d87ad;
}

#registration [type=submit] { /*submit btn for "create an account"*/
	margin-top: 27px;
	font-size: 1.1em;
	padding-left: 35px; /*padding on each side of "submit"*/
	padding-right: 35px;
	background: -webkit-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Safari */
	background: -o-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #ffffff 0%, #e3dbe8 100%); /* Standard syntax */
}


/* --------------------------------------------- */
/* -- FOOTER -- */
/* --------------------------------------------- */

footer{ 	
	background: #ece0be;
	padding-top: 5px;
	padding-bottom: 5px;
}
footer ul li {
	float: left; 
	padding: 5px;
	border-right: solid 1px #ccc;
	list-style-type: none;
	color: #888888;
}
footer ul li:last-of-type { 
	border-right: none; 
}
footer a { 
	color:#4e226d; 
}
footer span { 
	font-family: arial; 
	display: inline-block;
}








